body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(93, 169, 93);
    font-family: 'Roboto Slab', serif;
    
}
/* start of modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #a0dcee;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  
  /* The Close Button  */
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
/* end of modal */

div {
    margin: 20px;
    
}

h1 {
    font-size: 3rem;
    text-shadow: 1px 1px 1px white, 2px 2px 1px white;
}


#categoryName{
    width:210px;
}

#jesseNoMoney {
    display: none;
}
/* Scott I started the border just to see how the dimensions of the divs */
/* Do what you will with them sir */
.section1{
    border: 1px black solid;
    
}
.section2{
    border: 1px black solid;
}
.section3{
    border: 1px solid black;
}



@media only screen and (min-width: 768px){
    /* started to play with the desktop CSS a little. I attempted to give a background
    image and give that an opacity but I was not able to make it work properly.
    Then I was playing with the linear gradient just for fun.  */
    body{
        display: flex;
        flex-direction: row;
        align-items: center;
        /* background: #fff8dc; */
        background-image: linear-gradient( 180deg, green, white);
        height:auto;
    }
    .image {
        width: 50%;

    }
    .main {
        width: 50%;
    }

    img {
        width: 600px;
    }

    .main {
        display: flex;
        flex-direction: column;
    }
}